.black_style9{
        background-color: black;
        opacity: 0.9;
        border-width:0; 
        color: white;
      }
      .black_style{
        background-color: black;
        opacity: 0.8;
        border-width:0; 
        color: white;
      }
      .black_style2{
        background-color: black;
        opacity: 0.8;
        border-width:1; 
        color: white;
        height:100%;
        padding-top:0; 
        padding-bottom:0;
        padding-left:6; 
        padding-right:6;
      }